body {
  font-family: Georgia, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d6faff;
  width:960px; margin: 10px auto; font:normal 14px/20px 
}
.center { text-align: center; }

#canvas {
  position:   absolute;
  top:        0px;
  left:       0px;
  background: #222;
}

header {
  background-image: url(Bg.jpg);
  background-position:  center;
  background-repeat: repeat-x;
  height: 105px;
         color: #000;
         text-align: left;
         border-bottom: 2px solid #000000;
}

nav  {font-size: 30px;
     border-bottom: 1px solid #000000;
     display: block;}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
  
}

nav a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #b299d1;
}

main {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  background-color:#d6faff;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  color: #fff;
}
h2 {
  font-size: 28px;
  margin-top: 0;
  color: #000;
}
p {
  font-size: 18px;
}

footer {
  background-color: #2f3d75;
  color:#b299d1;
  padding: 10px;
  text-align: center;
}


@media only screen and (max-width: 1024px){
  header{background-image: url(Bg.jpg);}
        body {margin: 0;}
        main{margin-left: 0; background-color: #d6faff;}
        nav{float: none;
           width: auto;
           font-size: 115%;}
        nav li {display: inline-block;
               padding: 0.5em;}
        nav ul {text-align: center;}
        nav a {border-style: none;}
        h1, h2{font-size: 120%;}
        p{font-size: 90%;}
      }
      @media only screen and (max-width: 768px){
        header{background-image: url(Bg.jpg);}
        header h1{padding-left: 0;}
        h1, h2{font-size: 100%;}
        nav{font-size: 90%;}
        span {font-size: 80%;}
        figure{display:none;}
        nav, nav ul, nav li{padding: 0;}
        nav li {display: block;}
        nav a{display: block;
             padding: 0.5em 0;
             border-bottom: 1px solid #000000}
        main{margin-left: 0; background-color: #d6faff;}
      }
        

